@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

p, span{
  font-size: 18px;
  color: rgb(73, 18, 27);
  font-weight: bold;
  margin: 10px;
  line-height: 1.6;
  font-family: "Times New Roman", Times, serif;

}



h2, h4 em {

 font-size: 18px;
 color: rgb(255, 255, 255);
 font-weight: bold;
 margin: 10px;
 font-family: "Tangerine", Times, serif; 
}





h3 em {

 font-size: 18px;
 color: rgb(255, 255, 255);
 margin: 10px;
 font-family: "Times New Roman", Times, serif;


}


h1{
 font-size: 55px;
 color: rgb(99, 7, 7);
 font-weight: bold;
 margin: 11px;
 text-align: center;
 


}

body {
 background-color: #ffffff;
}

.paragrafo{
 color: rgb(240, 119, 224);
 font-size: 18px;
 line-height: 20px;
 border: 1px solid rgb(171, 218, 215);
}
.fonte-negrito{
 font-weight: bold;
}

#titulo {
 font-size:26px;
 color: blue;
 background: rgb(132, 75, 185);
 font-weight: bold;
}



.container-titulo{
   display: flex;
  justify-content: center;
  background: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  height: auto;
  margin: 16px;
  font-family: "Times New Roman", Times, serif;
}




.container-NText{
  display: flex;
  flex-direction: column;
  justify-content:left;
  align-items: flex-start;
  gap: 16px;
  background: rgb(255, 255, 255);
  text-align:center;
  height: auto;
  padding: 15px;
  margin: 15px;
  max-width: 600px;
  margin: 0 auto;
}


header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  
  background: #7a0000;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;

  font-weight: bold;
  font-size: 13px;
  font-family: 'DM Sans', sans-serif;
  color: white;
  text-decoration-line: none;

  background: #b95a58;
  padding: 8px;
  margin: 8px;
  text-align: center;
  height: 20px;
  border-radius: 12px;

  list-style-type: none;
}

.logo {
  font-size: 50px;
  color: #ffffff;
  display: flex;
  text-align: left;
  align-items: flex-start;
  font-weight: bold;
}

.bannerDestaq{
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 60%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  position: relative;
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #7a0000;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
}

.bannerCont{
  z-index: 2; 
  padding: 20px;
}



