p, span{








font-size: 18px;
 color: rgb(94, 13, 60);
 font-weight: bold;
 margin: 10px;
 line-height: 1.6;






}








h2, h4 em {








 font-size: 18px;
 color: rgb(94, 13, 60);
 font-weight: bold;
 margin: 10px;
}




h3 em {








 font-size: 50px;
 color: rgb(0, 0, 0);
 font-weight: bold;
 margin: 10px;


}


h1{
 font-size: 80px;
 color: rgb(99, 7, 7);
 font-weight: bold;
 margin: 11px;
 font-family: "Tangerine", Times, serif; /* Fonte para títulos */


}








p, a, h2, h3 {
font-family: "Times New Roman", Times, serif; /* Fonte para títulos */
}














body {
 background-color: #ffffff;
}








.paragrafo{
 color: rgb(240, 119, 224);
 font-size: 18px;
 line-height: 20px;
 border: 1px solid rgb(171, 218, 215);
}
.fonte-negrito{
 font-weight: bold;
}








#titulo {
 font-size:26px;
 color: blue;
 background: rgb(132, 75, 185);
 font-weight: bold;








}




.container-titulo{
   display: flex;
  justify-content: center;
  background: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  height: auto;
  margin: 16px;
}




.container-NText{
   display: flex;
  flex-direction: column;
  justify-content:left;
  align-items: flex-start;
  gap: 22px;
  background: rgb(255, 255, 255);
  padding: 15px;
  text-align:left;
  height: auto;
  margin: 15px;
  max-width: 600px;
  margin: 0 auto;
}


.navbar {
  display: flex;
  flex-direction: row;    
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  background: rgb(255, 255, 255);
  font-weight: bold;
  margin: 0;       
}


.linksNav {
  display: flex;
  flex-direction: row;    
  align-items: center;    
  justify-content: center;
  background: rgb(182, 133, 175);
  gap: 14px;
  padding: 20px 0;       
  width: 100%;
 
}


ul{
 margin-top: 50px;
 display: block;
 clear: both;
 list-style: none;
 padding: 0;
}



